.container {
    width: 100%;
    margin-top: -40px;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}

#cartbutton {
    float: right;
    margin-top: 15px;
    margin-right: 50%;
    cursor: pointer;
}



#hamburger {
    color: #818181;
    margin-top: 0px;
    padding: 0px;
    
}

@media (min-width: 945px) {
    #hamburger {
        display: none;
    }
}

header > img {
    transition: all 1s ease;
    display: block;
    width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: none;
}

header > img:hover {
    transform: scale(1.01) rotatex(360deg); 
    transition: ease-in-out 1s;
    content: url(redLogo.png);
}

nav ul {
    list-style: none;
    text-align: center;
    

}

nav li {
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 2rem;
    color: rgb(98, 99, 99);
    /*color: #b53434;*/
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 1s ease-out;
}

nav li:hover {
    transform: scale(1.2);
    transition: all 0.33s ease-in-out;
    
    color: rgb(251, 251, 251);
    text-shadow: 2px 2px 4px rgb(20, 70, 59);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}

nav {
    margin-bottom: 0px;
}

@media (max-width: 944px) {
    nav li { 
    display: none;    
    }
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(heroImage.jpeg);
    height: 60vh;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    margin-top: -2.5%;

}

.hero-image:hover {
    background-size: 110%;
    transition: all 1s ease-in-out;
    
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 5rem;
}
  
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #fafafa;
    background-color: #26877f;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    
}
  
.hero-text button:hover {
    transform: scale(1.1);
    background-color:rgb(20, 70, 59);
    color: #fafafa;
}

.hero-text p {
    font-size: 1.2rem;
}

.landscape-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(smallShrub.jpeg);
    height: 60vh;
    border-radius: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
}

.landscape-image:hover {
    background-size: 110%;
}

@media (max-width: 875px) {
    .hero-image, .landscape-image, .hero-image:hover, .landscape-image:hover {
        background-size: cover;
  }
}

.landscape-text {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
}

.landscape-text h1 {
    font-size: 5rem;
}

.landscape-text p {
    font-size: 1.2rem;
}


.landscape-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #26877f;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    bottom: 10%;
}
  
.landscape-text button:hover {
    transform: scale(1.1);
    background-color: rgb(20, 70, 59);
    color: white;
}    

footer img {
    transition: all 1s ease;
    width: 100px;
    height: 200px;
}

footer img:hover {
    transform: scale(1.1) rotateY(360deg);
    transition: ease-in-out 1s;
    content: url(greenLogo.png);
}

body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
    
}

h2 {
    font-size: 2rem;
    
}



/*section {
    display: flex;
}

article {
    flex: 1;
}
*/
footer {
    display: flex;
}

footer div {
    flex: 1;
}

article p {
    color: #b53434;
    text-align: center;
}


#copyright {
    bottom: 10%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

article[class^="second"] > img {
    height: 500px;
    width: 500px;
    aspect-ratio: 1 / 1;
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

article[class^="second"] > img:hover {
    transform: scale(1.02);
    transition: all .2s easeout;
    cursor: pointer;
}

article[class^="second"] > h2 {
    text-align: center;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);

    cursor: pointer;
}

article[class^="second"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;

}

article[class^="second"]:hover {
    transform: scale(1.02);
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
        
        
    }
}

@media (max-width: 1800px) {
    article[class^="second"] > img {
        height: 450px;
        width: 450px;
    }
}

@media (max-width: 1680px) {
    article[class^="second"] > img {
        height: 425px;
        width: 425px;
    }
}

@media (max-width: 1500px) {
    article[class^="second"] > img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 1410px) {
    article[class^="second"] > img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 1230px) {
    article[class^="second"] > img {
        height: 325px;
        width: 325px;
    }
}    
@media (max-width: 1150px) {
    article[class^="second"] > img {
        height: 300px;
        width: 300px;
    }
}    
@media (max-width: 1070px) {
    article[class^="second"] > img {
        height: 250px;
        width: 250px;
    }
}    

@media (max-width: 900px) {
    article[class^="second"] > img {
        height: 225px;
        width: 225px;
    }
}    

@media (max-width: 800px) {
    article[class^="second"] > img {
        height: 500px;
        width: 500px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 5px;
    }
    .hero-text h1 {
        font-size: 4rem;
    }
    .landscape-text h1 {
        font-size: 4rem;
    }
}    

@media (max-width: 550px) {
    article[class^="second"] > img {
        height: 450px;
        width: 450px;
        border-radius: 5px;
    }
    .hero-text h1 {
        font-size: 3rem;
    }
    .landscape-text h1 {
        font-size: 3rem;
    }
}    

@media (max-width: 400px) {
    article[class^="second"] > img {
        height: 50%;
        width: 75%;
        border-radius: 5px;
    }
    .hero-text h1 {
        font-size: 3rem;
    }
    .landscape-text h1 {
        font-size: 2rem;
    }
}    

@media (max-height: 430px) {
    .hero-text h1 {
        font-size: 3rem;
    }
    .landscape-text h1 {
        font-size: 2rem;
    }
}    
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: rgb(251, 251, 251);
    text-shadow: 4px 4px 5px rgb(20, 70, 59);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }